{% extends 'base.html.twig' %}

{% block title %}Cellule index{% endblock %}

{% block body %}
    <h1>Cellule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomcel</th>
                <th>Commune</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cellule in cellules %}
            <tr>
                <td>{{ cellule.id }}</td>
                <td>{{ cellule.nomcel }}</td>
                <td>{{ cellule.commune }}</td>
                <td>
                    <a href="{{ path('app_cellule_show', {'id': cellule.id}) }}">show</a>
                    <a href="{{ path('app_cellule_edit', {'id': cellule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cellule_new') }}">Create new</a>
{% endblock %}
